.header {
    &-top {
        background: $main-color;
        padding: 10px 0;
        &-wrap {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .company {
                font-weight: 600;
            }
            .contact {
                display: flex;
                align-items: center;
                font-size: 13px;
                color: $hover-color;
                a,
                span {
                    color: #fff;
                }
                a:hover {
                    color: $hover-color;
                }
                .icon-box {
                    font-size: 14px;
                    margin-right: 6px;
                }
                .separate {
                    width: 1px;
                    height: 12px;
                    background: rgba($color: $hover-color, $alpha: 0.3);
                    margin: 0 10px;
                }
                .phonebox {
                    background: #fff;
                    border-radius: 4px;
                    padding: 2px 8px;
                    .icon-box {
                        color: rgba($color: $sub-color, $alpha: 0.6);
                        transition: 0.3s;
                    }
                    > a {
                        color: $sub-color;
                        font-weight: 600;
                    }
                    &:hover {
                        .icon-box {
                            color: #84bff9;
                        }
                        > a {
                            color: $main-color;
                        }
                    }
                }
            }
            .social {
                > li {
                    margin: 0 8px;
                    > a {
                        color: $hover-color;
                        font-size: 16px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &-bottom {
        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                height: 100px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .benefit {
                display: flex;
                > li {
                    display: flex;
                    align-items: center;
                    &:not(:last-child) {
                        margin-right: 30px;
                        padding-right: 30px;
                        border-right: 1px solid #cdcdcd;
                    }
                }
                .icon {
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    margin-right: 10px;
                    background: $main-color;
                    border: 1px solid $main-color;
                    transition: 0.3s;
                    svg {
                        padding: 8px;
                        color: #fff;
                        fill: #fff;
                    }
                    &:hover {
                        background: #fff;
                        svg {
                            color: $main-color;
                            fill: $main-color;
                        }
                    }
                }
                .content {
                    width: calc(100% - 46px);
                }
            }
            .headernav {
                display: none;
                align-items: center;
                .search {
                    #s {
                        padding: 0 10px;
                        height: 35px;
                        border: 1px solid $main-color;
                        outline: none;
                        width: calc(100% - 35px);
                    }
                    button[type="submit"] {
                        border: 1px solid $main-color;
                        background: $main-color;
                        color: #fff;
                        height: 35px;
                        width: 35px;
                        margin-left: -2px;
                        transition: 0.3s;
                        &:hover {
                            border-color: $hover-color;
                            background: $hover-color;
                        }
                    }
                }
                .hbg-menu {
                    display: none;
                }
            }
            .content {
                &.phone {
                    > a {
                        display: block;
                        color: #888;
                        font-size: 14px;
                        font-family: "Open Sans", sans-serif;
                        &:first-child {
                            color: #333;
                            font-size: 16px;
                        }
                        &:hover {
                            color: $sub-color;
                        }
                    }
                }
            }
        }
    }
    &-menu {
        background: $main-color;
        .main-nav {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            > li {
                margin: 0 40px;
                position: relative;
                &:first-child {
                    margin-left: 0;
                }
                > a {
                    color: #fff;
                    display: inline-block;
                    padding: 12px;
                    font-size: 16px;
                    text-transform: uppercase;
                    &:hover {
                        color: $sub-color;
                        //background: #073157;
                    }
                }
                &.current-menu-item {
                    > a {
                        //color: $sub-color;
                    }
                }
                &:not(:last-child) {
                    &:after {
                        content: "";
                        width: 1px;
                        height: 20px;
                        position: absolute;
                        background-color: #fff;
                        top: 50%;
                        right: -40px;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 22;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        &-bottom {
            background: #fff;
            &-wrap {
                .benefit {
                    .content {
                        width: calc(100% - 46px);
                    }
                    > li {
                        &:not(:last-child) {
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        &-top {
            &-wrap {
                justify-content: center;
                .company {
                    display: none;
                }
            }
        }
        &-bottom {
            &-wrap {
                .logo {
                    height: 80px;
                    img {
                        width: auto;
                    }
                }
                .benefit {
                    display: none;
                }
                .headernav {
                    display: flex;
                    .search {
                        display: none;
                    }
                    .hbg-menu {
                        display: block;
                    }
                }
            }
        }
        &-menu {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            width: 100%;
            z-index: 11;
            transition: 0.5s;
            padding: 10px 0;
            .main-nav {
                flex-direction: column;
                > li {
                    margin: 0;
                    > a {
                        display: block;
                        text-align: center;
                    }
                }
            }
            &.active {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }
            &:after {
                content: "";
                width: 100%;
                height: 100vh;
                position: absolute;
                bottom: -100vh;
                background-color: rgba($color: #000000, $alpha: 0.6);
            }
        }
    }
}
